<div class="home-main-div" style="height:18%;">
	<div class="home-div">
		<h1 class="home-h1"> {{title}} </h1>
	</div>
	<div style="float:right" class="image">
		<img src="/assets/image/img.jpg" class="image">
	</div>
</div>

		<table class="table navbar-default" id="pointer" style="color:white;">
			<tr>
				<td align="center" style="color:white;"><a  routerLink = "/home">Home</a></td>
				<td align="center" style="color:white;"><a routerLink = "/about">About</a></td>
				<td align="center" style="color:white;"><a routerLink = "/help">Help</a></td>
			</tr>
		</table>
<div>
	<router-outlet></router-outlet>
</div>
