<div class="home-main-div" style="height:18%;">
	<div class="home-div">
		<h1 class="home-h1"> Physician Compare </h1>
	</div>
	<div style="float:right" class="image">
		<img src="/assets/image/img.jpg" class="image">
	</div>
</div>

		<table class="table navbar-default" id="pointer" style="color:white;">
			<tr>
				<td align="center" style="color:white;"><a href="#">Home</a></td>
				<td align="center" style="color:white;"><a (click)="onClickAbout()">About</a></td>
				<td align="center" style="color:white;"><a (click)="onClickHelp()">Help</a></td>
			</tr>
		</table>
<div>
	<router-outlet></router-outlet>
</div>